# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Video output (debug recordings)
*.avi
*.mp4

# ONNX models (too large for git)
models/*.onnx

# Logs
*.log

# Restructure script (already ran)
# restructure.py

# Dataset
dataset/
logs/*
sam_method/*

experiments/weights/*
experiments/*
raw_dataset/*
final_dataset/*
output/*
